
.main__header {
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.nav__btn{
    background-color: #A0153E;
    border-radius: 12px;
}
.clip-path-custom {
    clip-path: polygon(5% 0%, 95% 0%, 108% 50%, 95% 100%, 5% 100%, -8% 50%);
}
