/* small device  */
.small_bg{
    background-image: url("/assets/images/small__banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 470px;
}


/* large device  */
.large_banner_bg{
    background-image: url("/assets/images/large__banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 838px; */
}