/* small device  */
.bookAnAppointment__bg{
    background: #A0153E;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
/* large device  */
.bookAnAppointment__bg_large{
    background: #A0153E;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.input__bg{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}


.clip-path-custom {
    clip-path: polygon(5% 0%, 95% 0%, 108% 50%, 95% 100%, 5% 100%, -8% 50%);
}
